<h1>{{archComponent.name}}</h1>
<h2>Properties</h2>
{{#with archComponent}}
<form method="POST" action="/archcomponent/{{id}}">
<div class="row data-edit">
  <div class="twelve columns">
    <label for="acFieldName" class="data-edit">Name</label>
    <input type="text" class="u-full-width data-edit" placeholder="{{name}}" value="{{name}}" id="acFieldName" name="name"/>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <label for="acFieldTypeId">Type</label>
    <p class="data-view" id="acType">{{type.name}}</p>
    <select class="u-full-width data-edit" name="typeId" required id="acFieldTypeId">
      {{#each ../componentTypes}}
      <option value="{{id}}" {{#isEqual id ../type.id }}selected{{/isEqual}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <label for="acFieldAlternativeNames">Alternative Names</label>
    <p class="data-view" id="acAlternativeNames">{{alternativeNames}}</p>
    <textarea class="u-full-width data-edit" name="alternativeNames" id="acFieldAlternativeNames">{{alternativeNames}}</textarea>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <label for="acFieldDescription">Description</label>
    <p class="data-view" id="acDescription">{{description}}</p>
    <textarea class="u-full-width data-edit" name="description" id="acFieldDescription">{{description}}</textarea>
  </div>
</div>
  <div class="row">
    <div class="twelve columns">
      <label for="name">Last Updated</label>
      <p class="data-view">{{updatedAt}}</p>
    </div>
</div>
<div class="row">
  <div class="twelve columns">
    <a class="button button-primary data-view" id="editComponentEnable">Edit</a>
    <input type="submit" class="button-primary data-edit" value="Save"/>
    <a class="button data-edit" href="/archcomponent/{{id}}">Cancel</a>
  </div>
</div>
</form>
{{/with}}
<h2>Relationships</h2>
<table>
  <thead>
    <th>From</th>
    <th>Relation</th>
    <th>To</th>
    <th></th>
  </thead>
  <tbody>
    {{#each componentRelations}}
      <tr>
        {{#if inverse}}
          <td>{{from.name}}</td>
          <td>{{type.nameInverse}}</td>
          <td><a href="/archcomponent/{{to.id}}">{{to.name}}</a></td>
        {{else}}
          <td>{{from.name}}</td>
          <td>{{type.name}}</td>
          <td><a href="/archcomponent/{{to.id}}">{{to.name}}</a></td>
        {{/if}}
        <td><a href="/archcomponent/{{../archComponent.id}}/relation/{{transaction}}/delete">Delete</a></td>
      </tr>
    {{/each}}

      <form method="post" action="/archcomponent/{{archComponent.id}}/relation">
            <tr>
        <td>
          <input type="hidden" name="fromId" id="fromId" value="{{archComponent.id}}"/>
          {{archComponent.name}}
        </td>
        <td>
          <select class="u-full-width" name="relationTypeId" required id="relationTypeId">
            {{#each relationTypes}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <select class="u-full-width" name="toId" required id="toId">
            {{#each allComponents}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <input type="submit" value="Create"/>
        </td>
        </tr>
    </form>

  </tbody>
</table>

<script>
  $().ready(function(){
    $('.data-edit').hide();
    $('#editComponentEnable').click(function(){
      $('.data-edit').show();
      $('.data-view').hide();
    });
  });
</script>
