<h1>{{archComponent.name}}</h1>
<h2>Properties</h2>
{{#with archComponent}}
<form method="POST" action="/archcomponent/{{id}}">
{{> formInput hideView=true fieldName="name" fieldLabel="Name" fieldValue=name}}
{{> formInput fieldType="select" selectOptions=../componentTypes selectedOption=type.id fieldName="typeId" fieldLabel="Type" fieldValue=type.name}}
{{> formInput fieldName="alternativeNames" fieldLabel="Alternative Names" fieldValue=alternativeNames}}
{{> formInput fieldType="textarea" fieldName="description" fieldLabel="Description" fieldValue=description}}
{{> formInput fieldType="url" fieldName="docUrl" fieldLabel="Documentation Url" fieldValue=docUrl}}
<div class="row">
  <div class="twelve columns">
    <label for="name data-view">Last Updated</label>
    <p class="data-view">{{updatedAt}}</p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <a class="button button-primary data-view" id="editComponentEnable">Edit Properties</a>
    <input type="submit" class="button-primary data-edit" value="Save Properties"/>
    <a class="button data-edit" href="/archcomponent/{{id}}">Cancel</a>
  </div>
</div>
</form>
{{/with}}
<h2>Tags</h2>
<div class="row">
  <div class="twelve columns">
    <dl>
      {{#each componentTags}}
      <dt>{{tag.name}}</dt>
      <dd>{{value}} <a href="/archcomponent/{{../archComponent.id}}/tag/{{id}}/delete">x</a><dd>
    {{/each}}
    <dl>
  </div>
</div>
<div class="row">
  <form method="post" action="/archcomponent/{{archComponent.id}}/tag">
    <div class="twelve columns">
      <label for="fieldTagTypeId">Tag</label>
      <select name="tagTypeId" required id="fieldTagTypeId">
        {{#each tagTypes}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
      <label for="fieldTagValue">Value</label>
      <input type="text" name="value" id="fieldTagValue" placeholder="Type value"/>
      <input type="submit" value="Add Tag"></input>
    </div>
  </form>
</div>
<h2>Relationships</h2>
<table class="u-full-width">
  <thead>
    <th>From</th>
    <th>Relation</th>
    <th>To</th>
    <th></th>
  </thead>
  <tbody>
    {{#each componentRelations}}
      <tr>
        {{#if inverse}}
          <td>{{from.name}}</td>
          <td>{{type.nameInverse}}</td>
          <td><a href="/archcomponent/{{to.id}}">{{to.name}}</a></td>
        {{else}}
          <td>{{from.name}}</td>
          <td>{{type.name}}</td>
          <td><a href="/archcomponent/{{to.id}}">{{to.name}}</a></td>
        {{/if}}
        <td><a href="/archcomponent/{{../archComponent.id}}/relation/{{transaction}}/delete">Delete</a></td>
      </tr>
    {{/each}}

      <form method="post" action="/archcomponent/{{archComponent.id}}/relation">
            <tr>
        <td>
          <input type="hidden" name="fromId" id="fromId" value="{{archComponent.id}}"/>
          {{archComponent.name}}
        </td>
        <td>
          <select class="u-full-width" name="relationTypeId" required id="relationTypeId">
            {{#each relationTypes}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <select class="u-full-width" name="toId" required id="toId">
            {{#each allComponents}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <input type="submit" value="Create"/>
        </td>
        </tr>
    </form>
    <form method="post" action="/archcomponent/{{archComponent.id}}/relation">
          <tr>
      <td>
        <input type="hidden" name="fromId" id="fromId" value="{{archComponent.id}}"/>
        {{archComponent.name}}
      </td>
      <td>
        <select class="u-full-width" name="relationTypeId" required id="relationTypeId">
          {{#each relationTypes}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </td>
      <td>
        <div class="row">
          <div class="six columns">
            <label for="componentName">Component Name</label>
            <input class="u-full-width" type="text" placeholder="New Component" id="componentName" name="componentName" required />
          </div>
          <div class="six columns">
            <label for="componentType">Type</label>
            <select class="u-full-width" name="compoenntTypeId" required id="componentType">
              {{#each componentTypes}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
          <input type="hidden" name="andCreate" value="true"/>
        </div>
      </td>
      <td>
        <input type="submit" value="Create"/>
      </td>
      </tr>
  </form>
  </tbody>
</table>

<script>
  $().ready(function(){
    $('.data-edit').hide();
    $('#editComponentEnable').click(function(){
      $('.data-edit').show();
      $('.data-view').hide();
    });
  });
</script>
