
{{#with userProfile}}
  <h1>{{id}}/{{username}}</h1>
  <form method="POST" action="/admin/profile/{{id}}">
    <input type="hidden" name="id" value="{{id}}"/>
    <div class="row">
      <div class="twelve columns">
        <label for="fieldUsername">Username</label>
        <input type="text" class="u-full-width" id="fieldUsername" name="username" placeholder="Login Name" value="{{username}}" required/>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label for="fieldUserType">Type</label>
        <p class="u-full-width" id="fieldUserType">
          {{userType}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label for="fieldExpires">Expires</label>
        <input type="text" class="u-full-width" id="fieldExpires" name="expires" placeholder="Account Expiry Date" value="{{expires}}" />
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label for="fieldAuthentication">Password</label>
        <input type="text" class="u-full-width" id="fieldAuthentication" name="authentication" placeholder="Password or API Key" value="{{authentication}}"/>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <input type="submit" id="fieldSave" name="Save" value="Save"/>
        <a href="/admin/profiles" class="button">Cancel</a>
      </div>
    </div>
  </form>
{{/with}}

<script>
var picker = new Pikaday({ field: $('#fieldExpires')[0] });
</script>
