<div class="row">
  <div class="twelve columns">
    <label class="{{#if hideView}}data-edit{{/if}} {{#unless fieldValue}}data-edit{{/unless}}"for="field{{fieldName}}">{{fieldLabel}}</label>
    {{#unless hideView}}
      {{#if fieldValue}}
      {{#switch fieldType}}
        {{#case "url" break=true}}
          <a href="{{fieldValue}}">
            <p class="data-view" id="view{{fieldName}}">{{fieldValue}}</p>
          </a>
        {{/case}}
        {{#default}}
          <p class="data-view" id="view{{fieldName}}">{{fieldValue}}</p>
        {{/default}}
      {{/switch}}

      {{/if}}
    {{/unless}}
    {{#switch fieldType}}
      {{#case "textarea" break=true}}
        <textarea class="u-full-width data-edit" name="{{fieldName}}" id="field{{fieldName}}">{{fieldValue}}</textarea>
      {{/case}}
      {{#case "select" break=true}}
        <select class="u-full-width data-edit" name="{{fieldName}}" required id="ac{{fieldName}}">
          {{#each selectOptions}}
          <option value="{{id}}" {{#isEqual id ../selectedOption }}selected{{/isEqual}}>{{name}}</option>
          {{/each}}
        </select>
      {{/case}}
      {{#default}}
        <input type="{{#if fieldType}}{{fieldType}}{{else}}text{{/if}}" class="u-full-width data-edit" name="{{fieldName}}" id="field{{fieldName}}" value="{{fieldValue}}" />
      {{/default}}
    {{/switch}}

  </div>
</div>
