<div class="row">
  <div class="twelve columns">
    <h1>Configuration and Types</h1>
  <ul>
    <li><a href="{{routePrefix}}/componenttypes">Component Types</a></li>
    <li><a href="{{routePrefix}}/tagtypes">Tag Types</a></li>
    <li><a href="{{routePrefix}}/relationshiptypes">Relationship Types</a></li>
    <li><a href="{{routePrefix}}/admin/profiles">Users</a></li>
    <li><a href="{{routePrefix}}/admin/tranches">Tranches</a></li>
  </ul>
</div>
  <div class="twelve columns">
    <h1>Database</h1>
    <h2>Export</h2>
      <a href="/admin/exportdb/json-object">Download</a>
  </div>
</div>
