<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Alternative Names</th>
      <th>Description</th>
      <th>Documentation URL</th>
      <th>Last Updated</th>
      {{#each interestingTags}}
      <th>{{name}}</th>
      {{/each}}
      {{#each typeRelationMap}}
        <th>{{#if inverse}}{{relationTypeNameInverse}}{{else}}{{relationTypeName}}{{/if}}->{{typeName}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each components}}
    <tr>
      <td><a href="/archcomponent/{{id}}">{{name}}</a></td>
      <td>{{type.name}}</td>
      {{#each tagRow}}
      <td>
        {{#each this}}
          {{#if value}}
            <div>{{value}}</div>
          {{else}}
            <div>Present</div>
          {{/if}}
        {{/each}}
      </td>
      <th>{{alternativeNames}}</th>
      <th>{{description}}</th>
      <th>{{docUrl}}</th>
      <th>{{updatedAt}}</th>
      {{/each}}
      {{#each relationRow}}
      <td>
        {{#each this}}
            <div>{{to.name}}</div>
        {{/each}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
